@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }